<h1>New Memory</h1>

<.form let={f} for={@changeset} action={Routes.memory_path(@conn, :create)}>
    <%= label f, :title %>
    <%= text_input f, :title %>

    <%= label f, :content %>
    <%= textarea f, :content %>

    <%= submit "Save" %>
</.form>

<span><%= link "Back", to: Routes.memory_path(@conn, :index) %></span>

